# Creation Of Tuple

In [30]:
#empty tuple
t = ()
print(t)
print(type(t))

()
<class 'tuple'>

In [31]:
t1 = tuple()
print(t1)
print(type(t1))

()
<class 'tuple'>

In [32]:
t1=(1,2,'python',4.5)
print(t1)
print(type(t1))

(1, 2, 'python', 4.5)
<class 'tuple'>

In [33]:
t2=tuple(range(1,21))
print(t2)
print(type(t2))

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20)
<class 'tuple'>

In [34]:
t3=('python')
print(t3)
print(type(t3))

python
<class 'str'>

In [35]:
#How to create a single value tuple
t4=('python',)
print(t4)
print(type(t4))

('python',)
<class 'tuple'>

<h1>Accessing Elements of tuple</h1>
<h1>Ordered :</h1><br><h6> 1.Indexing 2.Slicing </h6>

In [36]:
t2[0]

1

In [37]:
t2[5]

6

In [38]:
t2[:10]

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [39]:
t2[9::-1]

(10, 9, 8, 7, 6, 5, 4, 3, 2, 1)

In [40]:
##Duplicates are allowed
t=(1,1,1,1,1,2,2,2,3,4,5,6,7)
print(t)
print(type(t))

(1, 1, 1, 1, 1, 2, 2, 2, 3, 4, 5, 6, 7)
<class 'tuple'>

In [41]:
t=10,20,30,40
print(t)
print(type(t))

(10, 20, 30, 40)
<class 'tuple'>

In [42]:
l1=[10,20,30,40]
t1=tuple(l1)
print(t1)
print(type(t1))

(10, 20, 30, 40)
<class 'tuple'>

#### Tuple v/s Immutability

In [43]:
t=(11,22,33,44,55,66,77,88,99,100)

In [44]:
t1 = tuple(range(10,51,10))
print(t1)

(10, 20, 30, 40, 50)

In [45]:
t1=list(t1)
print(type(t1))

<class 'list'>

In [46]:
t1.extend([12,3,4,5,6,7])
t1=tuple(t1)
print(t1)
print(type(t1))

(10, 20, 30, 40, 50, 12, 3, 4, 5, 6, 7)
<class 'tuple'>

In [47]:
#Mathematical operation

In [48]:
#Additon
t1=(1,2,3,4)
t2=(5,6,7,8)
t3=t1+t2
print(t1+t2)

(1, 2, 3, 4, 5, 6, 7, 8)

In [49]:
#Multiplication
t3 = t3 * 4
print(t3)

(1, 2, 3, 4, 5, 6, 7, 8, 1, 2, 3, 4, 5, 6, 7, 8, 1, 2, 3, 4, 5, 6, 7, 8, 1, 2, 3, 4, 5, 6, 7, 8)

### Built-in functions

In [50]:
t=(10,20,30,40)
print(t)
print(len(t))

(10, 20, 30, 40)
4

In [51]:
t=(10,20,30,30,30,40,40)
print(t.count(40))
print(t.count(60))

2
0

In [52]:
print(t.index(10))

0

In [53]:
#Will give the output of the first occurence
print(t.index(40))

5

In [54]:
#tuple has no sort function . Sort --> Changes original list
# Sorted --> Gives us a new list
t=(40,12,4,5,23,1)
t1=tuple(sorted(t))
print(t1)

(1, 4, 5, 12, 23, 40)

In [55]:
print(max(t1))
print(min(t1))
print(sum(t1))

40
1
85

Tuple packing and Unpacking

In [56]:
a = 10 
b = 20 
c = 30 
d = 40
t = a,b,c,d #Tuple packing
print(t)
print(type(t))

(10, 20, 30, 40)
<class 'tuple'>

In [57]:
t1 = (10,20,30,40)
print(t1)
print(type(t1))

(10, 20, 30, 40)
<class 'tuple'>

In [58]:
a,b,c,d=t1#tuple unpacking

In [59]:
a

10

In [60]:
b

20

In [61]:
c

30

In [62]:
d

40