# Object Oriented Programming

OOP - Object oriented programming
Class ---> Eg. Employee. It is also called as the blueprint 
Object --> real world entity , Details about the employee (Object is also called as instance)

- Polymorphism
- Encapsulation
    - Data hiding
- Inheritance
    - Overloading (also part of polymorphism)
    - Overriding
    
def __init__( ) --> constructor (used to initialiase the variable)
def __init__(self , name,salary) 
Types of constructors :
1. Parameterized
2. Non Parameterized
3. Default
what is self? it is reference variable! 

instance method is when in parathesis it has only self.

In [1]:
class Employee:
    def __init__ (self,name,salary): #constructor method
        self.name = name #initialisation of instance variable.
        self.salary  = salary
        
    def show(self):#instance method
        print("Name of a employee:" , self.name)
        print("Salary of a employee:" , self.salary)

In [2]:
#Syntax for creating a object
#obj_name = Class_name(parameter)

In [3]:
e1 = Employee('Abc',20000)

In [5]:
e1.show()

Name of a employee: Abc
Salary of a employee: 20000

In [8]:
e1.name

'Abc'

In [9]:
e1.salary

20000

In [11]:
e2 = Employee('Akash',50000)

In [ ]:
e2.show()

Name of a employee: Akash
Salary of a employee: 50000

## Non Parameterized Constructor

In [12]:
class Student:
    def __init__ (self):
        self.name = 'ABC'
        self.age = 20
        self.marks = 80
    def show(self):
        print("Student Details:")
        print("Name:",self.name)
        print("Age:",self.age)
        print("Marks:",self.marks)

In [13]:
s1 = Student()

In [14]:
s1.show()

Student Details:
Name: ABC
Age: 20
Marks: 80

In [15]:
s2 = Student()
s2.show()

Student Details:
Name: ABC
Age: 20
Marks: 80

In [16]:
class Student:
    def __init__ (self):
        name = input("Enter name of the student:")
        age = int(input("Enter your age"))
        marks = int(input("Enter your marks"))
        self.name = name
        self.age = age
        self.marks = marks
    def show(self):
        print("Student Details:")
        print("Name:",self.name)
        print("Age:",self.age)
        print("Marks:",self.marks)

In [17]:
s4 = Student()
s4.show()

Enter name of the student: Ohio
Enter your age 33
Enter your marks 12

Student Details:
Name: Ohio
Age: 33
Marks: 12

### Default Constructor

In [18]:
class demo:
    def show(self):
        print("Inside demo class")

In [21]:
d1 = demo()
d1.show()

Inside demo class

In [27]:
class Student:
    #Class variable
    school_name = "Itvedant"
    def __init__ (self,name,age,marks):
        self.name = name
        self.age = age
        self.marks = marks
   
    #instance method
    def show(self):
        print("Student Details")
        print("Name:",self.name)
        print("Age:",self.age)
        print("Marks:",self.marks)
        print("School Name:",self.school_name)

In [28]:
s1 = Student("abc",12,500)
s1.show()

Student Details
Name: abc
Age: 12
Marks: 500
School Name: Itvedant

In [35]:
s2 = Student("PQR",20,50000)
s2.show()
s2.school_name = "xyz School"
s2.show()

Student Details
Name: PQR
Age: 20
Marks: 50000
School Name: Itvedant
Student Details
Name: PQR
Age: 20
Marks: 50000
School Name: xyz School

In [36]:
class Student:
    #Class variable
    school_name = "Itvedant"
    def __init__ (self,name,age,marks):
        self.name = name
        self.age = age
        self.marks = marks
   
    #instance method
    def show(self):
        print("Student Details")
        print("Name:",self.name)
        print("Age:",self.age)
        print("Marks:",self.marks)
        print("School Name:",self.school_name)
        
    @classmethod
    def change_school_name(cls):
        cls.school_name = 'PQR School'
        print("Changed School Name:",cls.school_name)

In [40]:
s1 = Student('abc',12,5000)
s1.show()
s1.change_school_name()

Student Details
Name: abc
Age: 12
Marks: 5000
School Name: Itvedant
Changed School Name: PQR School

In [41]:
s3 = Student("pratik",23,5678)
s3.show()

Student Details
Name: pratik
Age: 23
Marks: 5678
School Name: PQR School

In [45]:
s1.show()
s1.change_School_name

Student Details
Name: abc
Age: 12
Marks: 5000
School Name: Itvedant

## Inheritance

1. Single inheritance
vechile --> car
2. Multilevel
vechile --> Car --> Sports car
3. Multiple inheritance
parent 1 and parent 2 --> child
4. Hierarchial 
parent 1 -
1. child 1
2. child 2
3. child 3
5. Hybrid (combination of any 2)

In [56]:
class vechile:
    def vechile_info (self) :
        print("Inside vechile class")
        
class car():
    def car_info(self):
        print("Inside car class")

In [57]:
c1 = car()
c1.car_info()

Inside car class

In [60]:
class vechile:
    def vechile_info (self) :
        print("Inside vechile class")
        
class car(vechile):
    def car_info(self):
        print("Inside car class")

In [62]:
c1=car()
c1.vechile_info()

Inside vechile class

In [63]:
class vechile:
    def vechile_info (self) :
        print("Inside vechile class")
        
class car(vechile):
    def car_info(self):
        print("Inside car class")
        
class sportscar(car):
    def sportscar_info(self):
        print("Inside sportscar class")

In [65]:
s1 = sportscar()
s1.sportscar_info()

Inside sportscar class

In [66]:
s1 = sportscar()
s1.vechile_info()

Inside vechile class

In [67]:
s1 = sportscar()
s1.car_info()

Inside car class

In [68]:
class Vechile:
    def vechile_info(self):
        print("Inside vechile class")

class Car:
    def car_info(self):
        print("Inside Car class")
        
class Sportscar(Vechile,Car):
    def sportscar_info(self):
        print("Inside Car class")

In [72]:
s1 = Sportscar()
s1.vechile_info()
s1.car_info()
s1.sportscar_info()

Inside vechile class
Inside Car class
Inside Car class

In [1]:
class Vehicle :
    def vehicle_info(self):
        print("Inside vechile class")
class Car(Vehicle):
    def car_info(self):
        print("Inside car class")
class Truck(Vehicle):
    def truck_info(self):
        print("Inside truck class")
class Sportscar(Vehicle):
    def sportscar_info(self):
        print("Inside sportscar class")

In [4]:
c1 = Car()
c1.car_info()
t1 = Truck()
t1.truck_info()
t1.vehicle_info()

Inside car class
Inside truck class
Inside vechile class

In [6]:
s1 = Sportscar()
s1.sportscar_info()
s1.vehicle_info()

Inside sportscar class
Inside vechile class

Polymorphism 

Poly ---> many 
morph ---> forms

a=10,b=20 ; a+b = Addition
a='10',b='20' ; a+b = 1020 (concat)

Overloading
- Same method with different parameters

Overriding 
- Same method between same parameter

Types of overriding 
1. Method overriding
2. Constructor overriding

Whatever member available in the parent class they are by default available to the child class through the inheritance, but if the child class is not satisfied with parent class implementation then child class is allowed to redefine the method in the child class based on its requirement and this concept is called as 
overriding.

<h1>Polymorphism</h1>

In [3]:
class Parent:
    def marry(self):
        print("Marry to Subhlaxmi")
        print("Car \n Property")
class Child(Parent):
    pass

In [4]:
c1 = Child ()
c1.marry()

Marry to Subhlaxmi
Car
 Property

In [5]:
class Parent:
    def marry(self):
        print("Marry to Subhlaxmi")
        print("Car\nProperty")
class Child(Parent):
    def marry(self):
        print("Marry to Katrina kaif")

In [6]:
c1 = Child()
c1.marry()

Marry to Katrina kaif

In [7]:
class Parent:
    def marry(self):
        print("Marry to Subhlaxmi")
        print("Car\nProperty")
class Child(Parent):
    def marry(self):
        super().marry()
        print("Marry to Katrina kaif")

In [8]:
c2 = Child()
c2.marry()

Marry to Subhlaxmi
Car
Property
Marry to Katrina kaif

In [9]:
#Constructor Overriding
class Parent:
    def __init__ (self):
        print("Parent Constructor")
class Child(Parent):
    def __init__ (self):
        print("Child Constructor")

In [10]:
c = Child()

Child Constructor

In [11]:
#Constructor Overriding
class Parent:
    def __init__ (self):
        print("Parent Constructor")
class Child(Parent):
    #def __init__ (self):
        #print("Child Constructor")
    pass

In [12]:
c = Child ()

Parent Constructor

In [40]:
class Person:
    def __init__ (self,name,age):
        self.name = name
        self.age = age
    def display(self):
        print("Name:",self.name)
        print("Age:",self.age)
    
class Employee(Person):
    def __init__ (self,name,age,Emp_id,Emp_salary):
        super().__init__(name,age)
        self.Emp_id = Emp_id
        self.Emp_salary = Emp_salary
        
    def display(self):
        print("Name:",self.name)
        print("Age:",self.age)
        print("Emp_id:",self.Emp_id)
        print("Emp_salary:",self.Emp_salary)

In [43]:
e = Employee('bobby',34,1032,10000)
e.display()

Name: bobby
Age: 34
Emp_name: 1032
Emp_salary: 10000

In [44]:
p = Person('Brobby',13)
p.display()

Name: Brobby
Age: 13

<h3>Method Overloading</h3>
Same method name with different number of parameters <br>
Python always consider last implementation of method

In [52]:
class Test:
    def m1(self):
        print("Method without arguments ")
    def m1(self,a):
        print("Method with 1 argument")
    def m1(self,a,b):
        print("Method with 2 arguments")

In [53]:
#It will implement last line of code 
t1 = Test()
t1.m1(12,20)

Method with 2 arguments

In [59]:
class Test:
    def a1(self,*a):
        sum = 0
        for i in a:
            sum = sum + i
        print("Sum is=",sum)

In [60]:
t1=Test()
t1.a1(12,3,32,432,432,1123,53)

Sum is= 2087

In [61]:
class Book:
    def __init__ (self,pages):
        self.pages = pages

In [64]:
class Book:
    def __init__ (self,pages):
        self.pages = pages
    def __add__ (self,other):
        return self.pages + other.pages

In [65]:
b1 = Book(200)
b2 = Book(100)
print(b1+b2)

300

In [66]:
class Book:
    def __init__ (self,pages):
        self.pages = pages
    def __mul__ (self,other):
        return self.pages * other.pages

In [68]:
b1 = Book(10)
b2 = Book(20)
print(b1*b2)

200

<h2>Data Encapsulation</h2>

In [79]:
#data hiding
class Project:
    def __init__(self,name,designation,project,salary):
        #public member
        self.name = name
        self.designation = designation
        self._project = project #protected member 
        self.__salary = salary #private member
    
    #instance method
    def details(self):
        print("Name of Employee",self.name)
        print("Designation of Employee",self.designation)
        print("Project",self._project)
        print("Salary of Employee" , self.__salary)

In [82]:
e1 = Project('abc','ceo','ds',50000)

In [83]:
e1.details()

Name of Employee abc
Designation of Employee ceo
Project ds
Salary of Employee 50000

In [84]:
e1.name

'abc'

In [85]:
e1.designation

'ceo'

In [86]:
e1._project

'ds'

In [89]:
e1._Project__salary

50000

In [92]:
class Student:
    def setName(self,name):
        self.name=name
    def getName(self):
        return self.name
    def setMarks(self,marks):
        self.marks = marks
    def getMarks(self):
        return self.marks

In [93]:
n = int(input(("Enter the number of students")))
for i in range(n):
    s1 = Student()
    name = input("Enter a name of student") 
    s1.setName(name)
    marks = int(input(("Enter marks of student")))
    s1.setMarks(marks)
    
for i in range(n):
    print("-----Student information-----")
    print("Welcome",s1.getName())
    print("Your Marks are",s1.getMarks())

Enter the number of students 2
Enter a name of student hi
Enter marks of student 4
Enter a name of student ok
Enter marks of student 5

-----Student information-----
Welcome ok
Your Marks are 5
-----Student information-----
Welcome ok
Your Marks are 5